
.header {
    overflow: hidden;
    background-color: teal;
    padding: 20px 10px;
  }
h3,li,p{
    text-align: center;
    margin-top: inherit;
    margin-right: 3%;
    font-family: 'Luckiest Guy';

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 9%;
  }
.alignleft {
    float: left;
    font-size: 100%;
    margin-left: 30px;
    font-weight: 500;
}
.alignright {
    float: right;
    font-size: 100%;
    margin-right: 30px;
    font-weight: 500;
}
.btn-group button {
  background-color: turquoise ; 
  border: 1px solid white;
  color: white; 
  padding: 10px 10px; 
  cursor: pointer;
  float: left; 
  font-family: 'Luckiest Guy';
  border-radius: 25px;
  margin-top: 18px;
} 
.btn-group button: hover {
  background-color: #40e0d0;
  color: white;

}
.container-fluid,img{
  background-color: #fffdd0;
  object-fit: contain;
  display: block;
}

body{
  background-color:#FFFDD0;
}
img {
  border-radius: 50%;
  display:inline-block;
}
p{
  font-family: 'Luckiest Guy';
  display:inline-block;   

}
.a-checkpoint-list{width:100px;margin:0 auto};

.a-checkpoint-list ul{
  list-style-image: url ("avatar2.png") ;
  list-style-type: none;
  padding-left: 12px;
  font-size:16px;

  }